@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 258 48% 23%;
  --primary-foreground: 0 0% 100%;

  --secondary: 267 33% 62%;
  --secondary-foreground: 0 0% 100%;

  --accent: 267 43% 82%;
  --accent-foreground: 258 48% 23%;

  --background: 0 0% 93%;
  --foreground: 258 48% 23%;
}

body {
  font-family: "Poppins", sans-serif;
}
